@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    background-color: #f1f1f1 !important;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro {
    max-width: 100%;
    margin: 0 auto;
    padding: 8% 0;
    text-align: center;

}

.intro h1 {
    font-size: 6em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
    animation: moveInLeft 1s ease-out;
}

.intro h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

.heading {
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 30px 0;
    
}

.heading-skills {
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 30px 0;
    
}

/* ABOUT ME */
.align-left {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.section-about {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  color: #616569; 
  font-family: 'Open Sans',sans-serif;
  background-size: contain; 
}

.about-me {
    margin-top: 30px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    color: #616569;
    letter-spacing: .03em;
    margin: 10px auto;
    font-size: 18px;
    padding: 65px 135px;
    display: inline-block;
}

/* WORK */
.section-work {
    padding: 5rem 0; 
}

/* .feature-box {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    animation: moveInBottom .3s ease-out;
} */

/* .feature-box  div{
    background-color: #000000;
    opacity: 0;
    justify-content: center;
    align-items: center;
} */

/* .feature-box a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
} */

/* .feature-box:hover {
    transition: all ease-in-out 100ms;
    transform: translateY(-.5rem) scale(1.0);
    opacity: 0.8;
    transition: all ease-in-out 100ms;
    text-decoration: none;
} */

#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* grid-template-rows: repeat(10, minmax(200px, auto)); */
    gap: 20px;
    max-width: 85%;
    margin: 0 auto;
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6));
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s cubic-bezier(0.41, 0.01, 0.32, 0.94);
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  }
  
  .wrapper:hover .overlay {
    opacity: 1;
    text-decoration: none;
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /* line-height: 2rem; */
    /* margin-top: 20px; */

  }
  
  .btn-project {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .btn-project:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    color: white;
    text-decoration: none;
  }




/* Header Name Animation */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.email:hover {
    text-decoration: none;
}

em {
    font-style: oblique;
}

img {
    width: 122%;
    opacity: 1;
    display: block;
    height: auto;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    padding: 50px 0;
    margin: 0;
    text-transform: uppercase;
}

/*BUTTON*/
/* .fa-github:before {
    content: "\f09b";
    color: teal;
} */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
    font-weight: bold;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);   
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;;
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}


/*SKILLS*/
.section-skills {
    padding: 5rem 0;    
    font-size: 7em;
    text-align: center;
    background-color: #202040;
}


/* CONTACT */
.section-contact {
    padding: 100px 0 0 0;
    background-color: #202040;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    margin-top: 3%;
    clear: both;
    clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
    text-align: center;
}

.contact-content p {
    font-size: 25px;
}

.social {
    padding: 1%;
    font-size: 2.5em;
    text-align: center;
}

/* FOOTER */
.fab {
    font-family: "Font Awesome 5 Brands";
    padding-right: 16px;
    color: #007bff;
}

.fab:hover {
    transition: all .3s;
    transform: translateY(-.3rem) scale(1.03);
}

.credit {
    text-align: center;
    padding: 0 0px 20px 0px;
}



/* mobile */
@media (max-width: 600px) {
    .intro h1 {
        font-size: 3em;
        padding: 0; 
    }

    .about-me {
        padding: 8px;
    }

    .skills {
        font-size: 5em;
    }

    h4 {
        font-size: 14px !important;
        letter-spacing: 2px !important;
    }

    .section-contact {
        clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
        font-size: 5vw;
    }
}
