@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    background-color: #f1f1f1 !important;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro {
    max-width: 100%;
    margin: 0 auto;
    padding: 8% 0;
    text-align: center;

}

.intro h1 {
    font-size: 6em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
    animation: moveInLeft 1s ease-out;
}

.intro h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation: moveInRight 1s ease-out;
}

.heading {
    color: #616569;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 30px 0;
    
}




/* ABOUT ME */
.align-left {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    height: auto;
}

.section-about {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  color: #616569; 
  font-family: 'Open Sans',sans-serif;
  background-size: contain; 
}

.about-me {
    margin-top: 30px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    color: #616569;
    letter-spacing: .03em;
    margin: 10px auto;
    font-size: 18px;
    padding: 65px 135px;
    display: inline-block;
}




/* WORK */
.section-work {
    padding: 5rem 0; 
}

.feature-box {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    animation: moveInBottom .3s ease-out;
    padding: 1rem;
    background: linear-gradient(125deg, rgb(124, 124, 124), rgb(0, 23, 87));
    background-size: 200%;
    z-index: 1;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

/* gradient animation */
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Header Name Animation */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
    }
}


.feature-box:hover {
    transition: all .3s;
    transform: translateY(-.5rem) scale(1.03);
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.email {
    color: #fff;

}

.email:hover {
    text-decoration: none;
}

em {
    font-style: oblique;
}

img {
    width: 122%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    padding: 50px 0;
    margin: 0;
    text-transform: uppercase;
}




/*BUTTON*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
    font-weight: bold;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);   
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;;
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}




/*SKILLS*/
.section-skills {
    padding: 5rem 0;    
    font-size: 7em;
    text-align: center;
    background-color: #fff;
}





/* CONTACT */
.section-contact {
    padding: 100px 0 0 0;
    background: rgba(0,0,0);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    margin-top: 3%;
    clear: both;
    clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
    text-align: center;
}

.contact-content p {
    font-size: 25px;
}

.social {
    padding: 1%;
    font-size: 2.5em;
    text-align: center;
}



/* FOOTER */
.fab {
    font-family: "Font Awesome 5 Brands";
    padding-right: 16px;
    color: #fff;
}

.fab:hover {
    transition: all .3s;
    transform: translateY(-.3rem) scale(1.03);
    color: rgb(185, 185, 185);
}

.credit {
    text-align: center;
    padding: 0 0px 20px 0px;
}







/* mobile */
@media (max-width: 600px) {
    .intro h1 {
        font-size: 3em;
        padding: 0; 
    }

    .about-me {
        padding: 8px;
    }

    .skills {
        font-size: 5em;
    }

    h4 {
        font-size: 14px !important;
        letter-spacing: 2px !important;
    }

    .section-contact {
        clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
        font-size: 5vw;
    }


}
