@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f1f1 !important;
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a.email:hover {
    text-decoration: none;
}

em {
    font-style: oblique;
}

img.align-left {
    width: 257px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

img {
    width: 122%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;

    text-align: center;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    color: inherit;
    font-size: 35px;
    text-transform: uppercase;
}



header {
    background: black url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: 0.9;
    background-attachment: fixed;
}

.intro {
    max-width: 960px;
    margin: 0 auto;
    padding: 8% 0;
    text-align: center;
}

.intro h1 {
    font-size: 6em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
    line-height: 1.5em;
}

.intro h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
}

a.btn {
    background: white;
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0 auto;
    border: 1px solid #666; 
}

a.btn:hover {
    background: black;
    color: white;
}

.about {
    padding: 4% 0;
}

.about p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    color: #616569;
    letter-spacing: .03em;
    margin: 10px auto;
    font-size: 18px;
    padding: 0% 22px;
    width: 873px;
    display: inline-block;
}

/*SKILLS*/
.skills {
    font-size: 9em;
    text-align: center;
}

.button {
    padding: 5%;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #011826;
    text-align: center;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.button:hover {
    color: #fff;
    background-color: #011833;
    text-decoration: none;
}


/* WORK */
.text-box-content p {
    padding: 12px;
    width: 350px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #616569;
    font-size: 1em;
}


.contact {
    background-color: #011826;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 6% 0 0;
    margin-top: 3%;
    margin: -70px;
    clear: both;
    clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.contact-content p {
    text-align: center;
    font-size: 25px;
    color: royalblue;
}

.social {
    color: white;
    padding: 1%;
    font-size: 2.5em;
    text-align: center;
}


.fab {
    font-family: "Font Awesome 5 Brands";
    padding-right: 16px;
}

.credit {
    text-align: center;
    background: #1B242F;
    padding: 3%;
}